.main-title{
    font-size: 48px;
    font-family: var(--font-noto-sans);
    line-height: 72px;
}

.sub-title{
    font-size: 36px;
    font-family: var(--font-noto-sans);
    line-height: 48px;
}

.text-sm{
    font-size: 12px;
    font-family: var(--font-noto-sans);
    line-height: 20px;
}

.text-md{
    font-size: 14px;
    font-family: var(--font-noto-sans);
    line-height: 24px;
}

.text-lg{
    font-size: 20px;
    font-family: var(--font-noto-sans);
    font-weight: 700;
    margin-bottom: 16px;
}

.text-preco{
    font-size: 21px;
    font-family: var(--font-noto-sans);
    font-weight: 500;
    color: var(--cor-preco);
}

.text-preco-desconto{
    font-size: 16px;
    font-family: var(--font-noto-sans);
    font-weight: 400;
    text-decoration: line-through;
}