.container{
    display: block;
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    font-family: var(--font-noto-sans);
    background-color: var(--cor-branca);
    padding: 20px;
    
}

body{
    background-color: var(--cor-nav);
    color: var(--cor-preta);
}